/*--------------------------------------------------------------
## Animate Styling
--------------------------------------------------------------*/

.fade--in {
    opacity: 0;
    transition: 0.65s ease opacity 0.2s;
    &.sal-animate {
        opacity: 1;
    }
}

.delay-100 {
    transition-delay: 0.4s;
}
