@keyframes ring-in {
    from { opacity: 0; }
    to { opacity: 1; }
}

.button-primary,
.button-secondary {
    text-transform: uppercase;
    padding: 6px 14px;
    border-radius: 20px;
    margin: 14px;
    position: relative;
    outline: 1px solid transparent;
    outline-offset: 3px;
    transition: outline-color 0s 0.067s;

    &::before,
    &::after {
        content: '';
        position: absolute;
        border: 1px solid #161817;
        pointer-events: none;
        opacity: 0;
    }

    &::before {
        inset: -9px;
        border-radius: 29px;
    }

    &::after {
        inset: -13px;
        border-radius: 33px;
    }

    &:hover {
        outline-color: #161817;
    }

    &:hover::before {
        animation: ring-in 0.05s 0.133s forwards;
    }

    &:hover::after {
        animation: ring-in 0.05s 0.2s forwards;
    }
}

.button-primary {
    border: 1px solid transparent;

    &:hover {
        border-color: #161817;
    }
}

.button-secondary {
    border: 1px solid #161817;
}
