.food-gallery .swiper {
  background-color: red;
}

.food-gallery .swiper-wrapper {
  align-items: center;
}

.food-gallery .swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: 350px;
  transform: scale(0.8);
  cursor: pointer;
  transform-origin: center center;
  transition: transform 0.65s ease;

  .f-12 {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.65s ease, visibility 0.65s ease;
  }
}

.food-gallery .swiper-slide-active {
  transform: scale(1);
  cursor: grab;

  &:active {
    cursor: grabbing;
  }

  .f-12 {
    visibility: visible;
    opacity: 1;
  }
}
