/* Prevent Chrome/iOS from auto-linking phone numbers, addresses, etc. */
a[href^="tel:"],
a[href^="sms:"] {
  text-decoration: none;
  color: inherit;
  pointer-events: none;
}

.spacer {
  height: 100px;
}

.uppercase {
  text-transform: uppercase;
}

.cursor-default {
  cursor: default;
}

.capitalize {
  text-transform: capitalize;
}

.lowercase {
  text-transform: lowercase;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.space-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.align-end {
  align-items: flex-end;
}

.f12 {
  font-size: 12px;
}

.op-4 {
  opacity: 0.4;
}

div.bg-image,
.bg-image {
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
}


.ratio-4-5 {
  width: 100%;
  aspect-ratio: 4 / 5;
}

.ratio-1-1 {
  width: 100%;
  aspect-ratio: 1 / 1;
}

.ratio-183-197 {
  width: 100%;
  aspect-ratio: 183 / 197;
}

.m-ratio-5-3 {
  @media (max-width: 768px) {
    aspect-ratio: 5 / 3;
  }
}

.pos-rel {
  position: relative;
}

.h-100 {
  height: 100%;
}

.h-200px {
  height: 200px;
}

.h-250px {
  height: 250px;
}

.h-300px {
  height: 300px;
}

.h-100dvh {
  height: 100dvh;
}

.gap-5 {
  gap: 5px;
}

.gap-20 {
  gap: 20px;
}

.gap-40 {
  gap: 40px;
}

.gap-60 {
  gap: 60px;
}

.gap-160 {
  gap: 160px;
}

.w-100 {
  width: 100%;
}


.w-180px {
  width: 180px;
}

.w-200px {
  width: 200px;
}

.w-285px {
  width: 285px;
}

.w-360px {
  width: 360px;
}

.text-center {
  text-align: center;
}

.flex-1 {
  flex: 1;
}

.z-2 {
  z-index: 2;
}

.m-hide {
  @media (max-width: 768px) {
    display: none;
  }
}

.m-flex-col {
  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.m-flex-row {
  @media (max-width: 768px) {
    flex-direction: row;
  }
}

.m-order-1 {
  @media (max-width: 768px) {
    order: 1;
  }
}

.m-order-2 {
  @media (max-width: 768px) {
    order: 2;
  }
}

.m-order-3 {
  @media (max-width: 768px) {
    order: 3;
  }
}

.m-h-150px {
  @media (max-width: 768px) {
    height: 150px;
  }
}

.m-mb60 {
  @media (max-width: 768px) {
    margin-bottom: 60px;
  }
}

.m-mx-auto {
  @media (max-width: 768px) {
    margin-left: auto;
    margin-right: auto;
  }
}

.m-mt50 {
  @media (max-width: 768px) {
    margin-top: 50px;
  }
}

.m-align-center {
  @media (max-width: 768px) {
    align-items: center;
  }
}

.m-f14 {
  @media (max-width: 768px) {
    font-size: 14px;
  }
}

.m-gap-10 {
  @media (max-width: 768px) {
    gap: 10px;
  }
}

.m-gap-60 {
  @media (max-width: 768px) {
    gap: 60px;
  }
}

.m-show {
  display: none;
  @media (max-width: 768px) {
    display: inherit;
  }
}
