.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.space-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.f12 {
  font-size: 12px;
}

.op-4 {
  opacity: 0.4;
}

.bg-red {
  background-color: red;
}

.bg-blue {
  background-color: blue;
}

.h-100vh {
  height: 100vh;
}

.gap-5 {
  gap: 5px;
}

.w-300px {
  width: 300px;
}

.text-center {
  text-align: center;
}

.flex-1 {
  flex: 1;
}

.z-2 {
  z-index: 2;
}
