.spacer {
  height: 100px;
}

.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.space-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.f12 {
  font-size: 12px;
}

.op-4 {
  opacity: 0.4;
}

div.bg-image,
.bg-image {
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
}

.bg-red {
  background-color: red;
}

.bg-blue {
  background-color: blue;
}

.ratio-4-5 {
  width: 100%;
  aspect-ratio: 4 / 5;
}

.pos-rel {
  position: relative;
}

.h-200px {
  height: 200px;
}

.h-250px {
  height: 250px;
}

.h-100dvh {
  height: 100dvh;
}

.gap-5 {
  gap: 5px;
}

.gap-40 {
  gap: 40px;
}

.w-285px {
  width: 285px;
}

.w-360px {
  width: 360px;
}

.text-center {
  text-align: center;
}

.flex-1 {
  flex: 1;
}

.z-2 {
  z-index: 2;
}

.m-hide {
  @media (max-width: 768px) {
    display: none;
  }
}

.m-flex-col {
  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.m-flex-row {
  @media (max-width: 768px) {
    flex-direction: row;
  }
}

.m-align-center {
  @media (max-width: 768px) {
    align-items: center;
  }
}

.m-f14 {
  @media (max-width: 768px) {
    font-size: 14px;
  }
}

.m-gap-10 {
  @media (max-width: 768px) {
    gap: 10px;
  }
}

.m-show {
  display: none;
  @media (max-width: 768px) {
    display: inherit;
  }
}
