.menus {
  display: flex;
  padding: 80px 35px 0 35px;
}

.menu-section {
  max-width: 878px;
}

.menu-group {
  display: flex;
  &__title {
    padding-bottom: 20px;
    font-size: 64px;
    line-height: 100%;
    text-align: center;
    @media (max-width: 768px) {
      padding-bottom: 15px;
      font-size: 44px;
    }
  }
}

.menu-item {
  &__header {
    display: flex;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 2%;

    &::after {
      content: "";
      flex: 1;
      order: 2;
      background-image: radial-gradient(circle, #161817 1px, transparent 1px);
      background-size: 10px 2px;
      background-repeat: repeat-x;
      background-position: 0 70%;
      margin: 0 4px;
    }
  }

  &__name {
    order: 1;
  }
  &__price {
    order: 3;
  }
  &__description {
    font-size: 16px;
    line-height: 120%;
    letter-spacing: -1%;
    @media (max-width: 768px) {
      max-width: 250px;
    }
  }
}
